html, body {
	margin:0;
	padding:0;
	height:100%;
    font-size: 14px;
}

table
{
    border-collapse: collapse;
}

div#tabsDiv
{
    position: absolute;
    margin: 3px;
    height: 96%; 
    width: 98%; 
}

ul.ui-tabs-nav
{
    border: 0px;
}

.ui-tabs .ui-tabs-panel
{
    padding: 0px;
}

img#logoImg
{
    float: right;
}

div#contentDiv
{
    padding: 3px;
    overflow: auto;
}

div#footerDiv
{
    position: absolute;
    bottom: 0px;
    min-height: 50px;
    width: 100%;
}

table.tablesorter input, select
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    width: 7em;
    display: block;
}

#tooltip{
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:2px 5px;
	color:#333;
	display:none;
    font-size: 12px;
    font-family: Monospace;
}
