html, body {
	margin:0;
	padding:0;
	height:100%;
    background-color: #2e95a3;
    background-color: #50b8b4;
    background-color: #c6fffa;
    background-color: #d6e055;
    background-color: #e2ffa8;
}

table
{
    border-collapse: collapse;
}

input[type="text"]
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    width: 7em;
    display: block;
    background-color: #ffffff;
    color: #2e95a3;
}

div#all
{
    background-color: #2e95a3;
    position: relative;
    height:auto !important;
	height:100%;
	min-height:100%;
}

div#header
{
    background-color: #e2ffa8;
    position: absolute;
    top: 0px;
    min-height: 3em;
    width: 100%;
    font-size: 20px;
}

    img#logo
    {
        padding: 0em 3em 0em 3em;
        float: left;
    }

div#content
{
    background-color: #2e95a3;
    padding: 5em 0em 3em 0em;
    overflow: auto;
}

    div#panel
    {
        width: 30%;
        margin: 1em;
        padding: 1em;
        display: inline;
    }

    div#data
    {
        background-color: #c6fffa;
        margin: 1em;
        padding: 1em;
    }

div#footer
{
    background-color: #e2ffa8;
    position: absolute;
    bottom: 0px;
    min-height: 3em;
    width: 100%;
}

table.dTable
{
    width: 100%;
}

table.dTable tbody
{
    height: 20em;
    overflow: auto;
}

table.dTable tbody tr
{
    background-color: #8bd8d7;
}

table.dTable tbody tr.altRow
{
    background-color: #c6fffa;
}

table.dTable th
{
    border-bottom: 1px solid black;
}

table.dTable th span
{
    padding-left: 0em;
    padding-right: 1em;
}

table.dTable td, th
{
    padding: 0em 0em 0em 1em;
    text-align: left;
}
