div
{
    direction: rtl;
}

img#logo
{
    float: left;
}

table.dTable th span
{
    padding-right: 0em;
    padding-left: 1em;
}

table.dTable td, th
{
    padding: 0em 1em 0em 0em;
    text-align: right;
}

.ui-tabs .ui-tabs-nav li
{
    float: right;
}

div.ui-datepicker
{
    right: 0px;
}
